@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  padding: $spacing-md 0;
}

.contact {
  @include flex-between;
  color: $dark-grey;
  font-weight: 800;
  justify-content: start;
  margin: $spacing-sm;
}

.icon {
  padding-right: $spacing-md;
}
