@import "../../../styles/variables";
@import "../../../styles/mixins";

.title {
  color: $dark-green;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: $spacing-md;
}

.bullets {
  margin: $spacing-lg;
}

.bullet {
  font-size: 1.1rem;
  list-style-type: none;
  padding-left: $spacing-lg;
  position: relative;

  &::before {
    content: "—"; // em dash
    position: absolute;
    left: -$spacing-xxl;
  }
}
