.tableContainer {
  padding: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

.tableRow {
  border: 1px solid black;
}

.tableCell {
  padding: 8px;
  border: 1px solid black;
}

.tableHeader {
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #f5f5f5;
  }
}
