@import "styles/variables";
@import "styles/mixins";

.appRoot {
  background-color: $dark-green;
  border: 8px solid;
  border-image: linear-gradient(to bottom, $darker-green, $lighter-green) 1;
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  background-color: $light-green;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.smallIcon {
  font-size: small;
}

.body {
  background-color: white;
  padding: $spacing-md $spacing-xl;
}
