.root {
  background-color: #38761d;
  border: 8px solid #38761d;
  // min-height: calc(100vh-16px);
}

.header {
  align-items: center;
  background-color: #93c47d;
  // border: 5px solid #38761d;
  color: black;
  display: flex;
  justify-content: space-around;
  // padding: 8px;
  // max-width: calc(100% - 10px);
  // font-size: calc(10px + 2vmin);
}

.smallIcon {
  font-size: small;
}

.body {
  background-color: white;
  padding: 8px;
}
