@import "styles/variables";
@import "styles/mixins";

.wrapper {
  background: linear-gradient(to bottom, $darker-green, $lighter-green);
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
}

.appRoot {
  border: 8px solid;
  border-image: linear-gradient(to bottom, $darker-green, $lighter-green) 1;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 100vh;
  min-width: 380px;
}

.header {
  background-color: $light-green;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.topMobile {
  flex-direction: column;
}

.smallIcon {
  font-size: small;
}

.body {
  background-color: white;
  padding: $spacing-md $spacing-xl;
}
